body {
  font-family: 'Limelight', cursive;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: rgb(235, 230, 230);
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  box-shadow: rgb(46, 45, 45);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(48, 33, 33);
  border-radius: 0;
  border-bottom: 10px solid rgb(41, 40, 40);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(60, 69, 107);
}

.hour {
  background-color: #649de7;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #b1afaf;
  color: white;
}

.present {
  background-color: #af4c47;
  color: white;
}

.future {
  background-color: #68b868;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #69c4d8b9;
  color: rgb(42, 48, 38);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.notification {
  display: none;
  padding-bottom: 10px;
  color: black;
}

.show {
  display: block;
}

footer {
  padding: 30px;
  clear: both;
  text-align: center;
}

footer h2 {
  font-size: 5px;
}